[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
socketio = "*"
apscheduler = "*"
requests = "*"
pyyaml = "*"
colorama = "*"
sqlalchemy = "*"
loguru = "*"

[dev-packages]

[requires]
